body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}
.container{
    width: 600px;
    height: 400px;
    display: flex;
    border-radius: 5%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fffefed7;
    box-shadow: 0 5px 9px rgb(249, 0, 162);
}
i {
    font-size: 8em;
    color: #000;
    border-radius: 40%;
    outline: 3px solid #2c2d2d;
    border: 9px solid transparent;
}
h2 {
    text-align: center;
    font-size: 3em;
    color: #000;
    margin: 25px 0;
}
.btn-group {
    width: 90%;
    height: 40px;
    display: flex;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.container img{
    width: 30%;
    height: 40%;
    border-radius: 50%;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 20%;
    cursor: pointer;
    color: #fff;
    border: 2px solid #00000000;
    box-shadow: 0 3px 4px rgb(249, 0, 162);
}
button:nth-child(1) {
    margin-left: -50%;
    background: #000;
}
button:nth-child(2) {
    margin-right: -50%;
    color: #000;
}

/* --- Tablet and Mobile Adjustments --- */
@media (max-width: 480px) {
    .container {
        justify-content: center;
        border-radius: 15px;
        min-height: auto;
    }
    .container img{
        width: 150px;
        height: 150px;
    }

    .btn-group {
        flex-direction: column; 
        align-items: center;
    }

    button {
        
        width: 40%; 
    }
}